<table class="ui sortable celled compact small basic table" ng-init="currentPage = 1">
  <thead>
    <tr>
     <th ng-click="orden = 'periodo_id'">periodo_id</th>
     <th ng-click="orden = 'anyo'">anyo</th>
     <th ng-click="orden = 'mes'">mes</th>
     <th ng-click="orden = 'activo'">activo</th>

    </tr>
  </thead>
  <tbody>
    <tr dir-paginate="i in list_periodo | filter: query | orderBy: orden | itemsPerPage: 12" current-page="currentPage">
     <td class="ui right aligned">{[ i.periodo_id ]}</td>
     <td class="ui right aligned">{[ i.anyo ]}</td>
     <td class="ui right aligned">{[ i.mes ]}</td>
     <td class="ui right aligned">{[ i.activo ]}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr style="text-align: center;">
      <th colspan="100">
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)">
        </dir-pagination-controls>
      </th>
    </tr>
  </tfoot>
</table>
