<section id="cuerpo">
<div class="wrapper">
  <div class="row">
    <div class="col-6" ng-init="userCtrl.login()">
      <h1>Bienvenido</h1>
      <p>Para ingresar debes tener una sesión activa</p>
    </div>
  </div>
</div>
</section>
