<div class="ui container fluid centered" ng-controller="clienteCtrl" ng-init="initMenu()">
  <div class="ui active page dimmer" ng-show="loading">
    <div class="ui indeterminate large text loader">Cargando...</div>
  </div>

  <div class="ui stackable grid">
    <div class="row">
      <div class="eight wide column">

      </div>
      <div class="eight wide column">

      </div>
    </div>
  </div>
</div>
